@if (monitorSignal && monitorSignal()) {
  <div class="bg-red-500 text-white p-2 px-4 rounded-lg">
    <div class="flex flex-row content-stretch gap-3">
      <div class="self-center-safe font-extrabold">{{ monitorDescriptor().line | uppercase }}</div>
      <div class="flex flex-col flex-grow">
        @for (direction of monitorSignal()?.directions; track direction.directionId) {
          <div class="flex flex-row justify-between">
            <div>{{ direction.towards | titlecase }}</div>
            <div><span class="font-bold">{{ getCountdown(direction.nextArrivalTime) }}</span> min</div>
          </div>
        }
      </div>
    </div>
  </div>
}
